<div class="card product-card">
  <mat-card>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-label>{{product.price}} € (price per unit)</mat-label><br>
    <mat-label>quantity: </mat-label>
    <button (click) ="decreaseQuantity()" mat-mini-fab color="primary"><mat-icon>remove</mat-icon></button>
    <input type="text" name="name" [(ngModel)]="quantity" class="input"/>
    <button (click) ="increaseQuantity()" mat-mini-fab color="primary"><mat-icon>add</mat-icon></button>
    <button (click) ="updateCart()" mat-mini-fab color="primary">buy</button><br>
    <mat-label>amount: </mat-label> {{amount}} €
  </mat-card>
</div>
